ul {
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

section {
    width: 94%;
    margin: 0 auto;
}

li a:hover {
    background-color: lightgray;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    position: fixed;
    width: 100%;
    top: 0;
}

nav li {
    float: left;
    width: 15%;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

footer {
    background-color: lightslategrey;
    background-size: cover;
    padding: 15px 10px;
}

footer dl {
    color: white;
    text-transform: capitalize;
    text-align: center;
}
footer dl dt, footer dl dd {
    display: inline;
}

#button {
    width: 5%;
    padding: 14px 16px;
}

#button :first-child {
    width: 100%;
    border-radius: 5px;
}

#search_box {
    padding: 14px 16px;
    width: 40%;
}

#search_box :first-child {
    width: 95%;
    border-radius: 5px;
    border-width: 1px;
    text-overflow: ellipsis;
}