ul {
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

section {
    width: 90%;
    margin: 0 auto;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

section > div {
    float: left;
    width: 45%;
    padding: 15px;
}

li a:hover {
    background-color: green;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
}

nav li {
    font-size: large;
    font-weight: bold;
    overflow: clip;
}
nav li a {
    color: white;
    display: inline-block;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    overflow: hidden;
}

nav ul li:last-child {
    float: left;
    width: 50%;
}

nav ul :last-child table {
    width: 100%;
}

nav ul :last-child table tr :first-child {
    width: 90%;
}

nav ul :last-child table tr :last-child {
    width: 15%;
}

body {
    box-sizing: border-box;
}

header {
    width: 100%;
}

header > div{
    margin: 0 auto;
    width: 100%;
    background-position: top;
    background-color: lightblue;
    padding: 5px 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-shadow: rgb(48, 1, 202)6px 6px;
    overflow: auto;
    animation: changeColor 1.5s infinite;
}

@keyframes changeColor {
    from {
        color: red;
    }
    to {
        color: violet;
    }
}

nav ul :last-child table tr :last-child {
    width: 15%;
}

footer {
    background-color: lightslategrey;
    background-size: cover;
    padding: 15px 10px;
    width: 100%;
    overflow: auto;
}

footer table {
    width: 100%;
    color: white;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}

#button {
    width: 80%;
    font-weight: bold;
    text-align: center;
    background-color: black;
    border: 2.5px solid white;
    color: white;
    border-radius: 15px;
    padding: 10px 2px;
    overflow: hidden;
}

#button:hover {
    background-color: green;
}

#button:active {
    background-color: red;
}

#search_box {
    margin: 2px;
    padding: 16px 20px;
    width: 95%;
    border-radius: 15px;
    border-width: 1px;
    text-overflow: ellipsis;
}

div.mail {
    bottom: 5%;
    right: 2%;
    position: fixed;
}